<div>
    <form action="/growl" method="post" accept-charset="utf-8">
        <input name="growl" type="text" placeholder="growl"></input>
        <input type="submit" value="Growl"></input>
    </form>

    <% if @growls.empty? %>
        
    <% else %>
        <% @growls.each do |growl| %>
            <ul>
                <li><%= growl %></li> 
            </ul>
        <% end %> 
    <% end %>

</div>