<div>
    <form action="growl" method="post" accept-charset="utf-8">
        <textarea name="growl" placeholder="growl"></textarea>
        <button type="submit">Growl</button>
    </form>

    <ul>
        <li>Ryan sucks</li>
        <li>He is a loser</li>
        <li>I can't believe I'm friends with him</li>
        <li>I don't want to talk to him anymore</li>
    </ul>

</div>
