<div>
    <form action="/growl" method="post" accept-charset="utf-8">
        <textarea name="growl" type="text" placeholder="growl" rows="5"></textarea>
        <input type="submit" value="Growl"></input>
    </form>
    <form action="/clear" method="post" accept-charset="utf-8">
        <input type="submit" value="Clear" name="clear"></input>
    </form>

    <div class="feed">
        <% unless @growls.empty? %>
            <ul>
                <% @growls.each do |growl| %>
                    <li><%= growl[:message] %></li>
                    <li><%= growl[:timestamp] %></li>
                <% end %>
            </ul>
        <% end %>
    </div>

</div>
