<div class="feed">
    <form action="/growl" method="post" accept-charset="utf-8">
        <textarea name="growl" type="text" placeholder="growl"></textarea>
        <input type="submit" value="Growl"></input>
    </form>
    <form action="/clear" method="post" accept-charset="utf-8">
        <input type="submit" value="Clear" name="clear"></input>
    </form>

    <% unless @growls.empty? %>
        <ul>
            <% @growls.each do |growl| %>
                <li><%="#{growl[:timestamp]}: #{growl[:message]}" %></li>
            <% end %>
        </ul>
    <% end %>

</div>
