<div class="feed">
    <form action="/growl" method="post" accept-charset="utf-8">
        <textarea name="growl" type="text" placeholder="growl"></textarea>
        <input type="submit" value="Growl"></input>
    </form>

    <% if @growls.empty? %>

    <% else %>
        <ul>
            <% @growls.each do |growl| %>
                <li><%= growl %></li>
            <% end %>
        </ul>
    <% end %>

</div>
