<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Sigmar+One|Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Growler</title>
</head>
<body>

    <% if session[:user]%>
  
      <div class="ui grid main-header">
        
          <div class="two wide column btn-container">
            <a href="/logout">
              <button class="ui inverted red button">Logout</button>
            </a>
          </div>
       
      </div>
  
    <% end %>


    <%= yield %>


<script type="text/javascript" src="/semantic/semantic.min.js"></script>

</body>
</html>
