<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Growl</title>
</head>
<body>

<h1>Growl</h1>

<% if flash[:blank] || flash[:length] %>
  <p><%= flash[:blank] %></p>
  <p><%= flash[:length] %></p>
<% end %>

<%= yield %>


</body>
</html>
