<div class="login-form">
  <header>
      <h1>Login</h1>
  </header>

  <form class="ui form" action="/login" method="post" id="ogin">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>